.centered {
  height: 100vh; 
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #B1B1B1;
}

.textfield {
  color: #B1B1B1;
  outline-color: #B1B1B1;
  border-bottom-color: #B1B1B1; 
  text-align: center;
  width: 40vh;
}

.toolbar {
  background-color: #747474;
  justify-content: center;
  color: #0A0708
}



/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

html {
  box-sizing: border-box;
  background-color: #175873;
}

*, *::before, *::after {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
}

.app {
  width: 960px;
  margin: 0 auto;
  padding: 20px;
}

nav ul {
  list-style: none;
  display: flex;
  background-color: black;
  margin-bottom: 20px;
}

nav ul li {
  padding: 20px;
}

nav ul li a {
  color: white;
  text-decoration: none;
}

.current {
  border-bottom: 4px solid white;
}

h1 {
  margin-bottom: 20px;
}

p {
  margin-bottom: 15px;
} */
